<%- include('./partials/header.ejs') %>
    <div class="logincontainer w-full min-h-screen fixed  bg-green-50 flex items-center justify-center">
        <div class="loginpanel">
            <h3 class="text-3xl   mb-3">Passcode Needed.</h3>
            <form autocomplete="off" action="/hisaab/<%= hisaab._id %>/verify" class="flex flex-col gap-2 items-start"
                method="post">
                <input class="block px-5  py-3 border-[1px] border-zinc-100 rounded-md" type="password"
                    placeholder="passcode" name="passcode">
                <input class="block px-4 mt-[10px] py-2 bg-blue-500 rounded-md text-white" type="submit" value="View Hisaab">
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>